

<!DOCTYPE HTML>
<!--[if IEMobile 7 ]><html class="pub_homepage no-js iem7" manifest="default.appcache?v=1"><![endif]-->
<!--[if lt IE 7 ]><html class="pub_homepage no-js ie6" lang="en"><![endif]-->
<!--[if IE 7 ]><html class="pub_homepage no-js ie7" lang="en"><![endif]-->
<!--[if IE 8 ]><html class="pub_homepage no-js ie8" lang="en"><![endif]-->
<!--[if (gte IE 9)|(gt IEMobile 7)|!(IEMobile)|!(IE)]><!--><html class="pub_homepage no-js" lang="en"><!--<![endif]-->

<head>
<title>Aprenda Capoeira Online - "NomedoSite"</title>
  <meta name="description" content="Training from experts you trust + vital community. Create an online business you're proud of. Welcome to NOMESITE.">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta charset="UTF-8" />
  <link rel="pingback" href="http://NOMESITE.co/xmlrpc.php" />
  <meta name="apple-mobile-web-app-title" content="f">
  <link rel="apple-touch-icon" href="/apple-touch-icon.png">
  <link rel="shortcut icon" href="/favicon.ico"/>

  <meta property="og:title" content="APRENDA CAPOEIRA ONLINE.Conheça suas raízes com os experts.">
  <meta property="og:description" content="Welcome to NOMESITE.">

<link rel='stylesheet' id='pmpro_frontend-css'  href='/stylesheets/capoeira.css' type='text/css' media='screen' />
<link rel='stylesheet' id='screen-css'  href='/stylesheets/capoeira1.css' type='text/css' media='screen' />


<!-- End Visual Website Optimizer Asynchronous Code -->
</head>

<body class="home page page-id-809 page-template page-template-custom-homepagepublic03-php chrome  wp_page singular home public-homepage">

<div class="beta_big_container">

    <div id="home_header" class="group center">

      <h1 class="white">APRENDA CAPOEIRA ONLINE</h1>
      <h3 class="grey">Conheça suas raízes com os experts</h3>
      <img  style="width:50%;"src="/images/Capoeira-Sun.png">
  </div>

    <div id="home_hero">
    <div class="home_hero_wrap">

      <div class="home_container">


      </div>
    </div>
  </div>

    <div id="home_hero_details">
    <div class="home_container_narrow">
      <div class="group">
        <div class="center">
          <h3>Se eu consegui, você consegue.</h3>
          <img style="width:30%;display:inline-block" src="/images/man.jpg" >
          <p class="large_light" style="text-align:justify;display:inline-block">Depois de passar uma temporada nos Estados Unidos e perceber que não sabia nada da nossa cultura brasileira, fui para ... e treinei 3 meses com os melhores capoeiristas.</br> Juntos desenvolvemos essa comunidade com conteudo de ótima qualidade para ajudar praticantes de todo o Brasil.
        </div>
      </div>
    </div>
  </div>

    <div id="home_quotes">
    <div class="home_container center">
      <h3>Mestres que fazem parte da comunidade</h3>

      <article class="list">
            <ul>
              <li><img class="circle" src="/images/bimba.jpg" style="width:80%;"></li>
              <li><b>Mestre XXXXX</b></li>
              <li>"Divulgar nossa cultura é o que interessa"</li>
            </ul>
            <ul>
              <li ><img class="circle" src="/images/bimba.jpg" style="width:80%;"></li>
              <li><b>Mestre XXXXX</b></li>
              <li>"Divulgar nossa cultura é o que interessa"</li>
            </ul>
            <ul>
              <li><img class="circle" src="/images/bimba.jpg" style="width:80%;"></li>
              <li><b>Mestre XXXXX</b></li>
              <li>"Divulgar nossa cultura é o que interessa"</li>
            </ul>
          </article>
        </div>
      </div>
    </div>
  </div>

    <div id="home_pricing">
    <div class="home_container">
      <h2>Seja membro do "nomedosite"</h2>
      <p class="lede">Todo mundo sabe que só comprar livros ou ver videos não solidifica o aprendizado. </br>Aprender é melhor em companhia. Melhor ainda se for de experts.</p>

      <div id="pricing_table" class="no_deluxe">
        <div class="pricing_head group">
          <p class="spacer"></p>
          <b>Membros</b>
        </div>

        <div class="pricing_row">
          <p>Videos Explicativos<em>Veja e reveja os videos de todos os passos para aprender capoeira</em></p>
          <b class="green">✓</b>
        </div>

        <div class="pricing_row">
          <p>Lições em Audio<em>Vá para um parque com seu mp3 player e pratique capoeira</em></p>
          <b class="green">✓</b>
        </div>

        <div class="pricing_row">
          <p>Comunidade Ativa<em>Entre em contato com outros membro de todo o Brasil e faça perguntas para os mestres</em></p>
          <b class="green">✓</b>
        </div>

        <div class="pricing_row">
          <p>Pergunte para os Experts<em>Tenha os melhores mestres do Brasil a sua disposição</em></p>
          <b class="green">✓</b>
        </div>


        <div class="pricing_row">
          <p>Repertório de Músicas<em>Entre na ginga com o ritmo da capoeira</em></p>
          <b class="green">✓</b>
        </div>

        <div class="pricing_row">
          <p></p>
          <b class="whitePrice">R$47,00 por mês</b>
        </div>

        <div class="pricing_buttons group">
          <p class="spacer"></p>
          <b><a href="/signup" class="btn_green">Comece Aprender Hoje</a></b>
        </div>


      </div> <!-- #pricing_table -->




    </div>
  </div>

    <div id="home_quotes">
    <div class="home_container">
      <h2>O que nossos membros estão falando?</h2>

      <p class="home_quote_kyle">&ldquo;Sempre quis aprender agora não tenho mais desculpas!&rdquo; <i>- Rodolfo</i></p>
      <div class="group">
        <div class="home_two_column">
          <p class="home_quote_janet">&ldquo;Pessoal do Facebook(exemplo)</p>
        </div>
        <div class="home_two_column_right">
          <p class="home_quote_annie">&ldquo;Pessoal do Twitter(exemplo)</p>
        </div>
      </div>
    </div>
  </div>



    <div class="hear_here center">
    <p>Receba e-mails com  mais informações sobre capoeira.</br> Aprenda mais sobre suas raízes, as raízes do Brasil.</p>
    <div class="test">
    <input class="emailSub" placeholder="Email">
    </div>
    <small>Não gostamos de spam. Só enviamos conteúdo selecionado.</small>
    <div class="center">

    </div>
    <button  class="btn_green center go">Conhecer minhas raízes</button>

  </div>






</div>
  <footer class="center">
    <div class="container">


      <div class="group">
          <nav>
<a href="" id="menu-item-238" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-238">Termos</a>
<a target="_blank" href="mailto:" id="menu-item-251" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-251">Contato</a>
</nav>

      </div>


      <p class="small">&copy; 2013 "NOMEDOSITE". Direitos Reservados.</p>

    </div>
  </footer>
</body>
</html>


